@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

.global-container {
    display: flex;
    text-align: center;
}

.global-container > .background-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.2);
    height: 100vh;
    width: 50%;
}

.global-container > .background-right {
    display: flex;
    align-items: center;
    background-color: rgb(0, 89, 255);
    height: 100vh;
    width: 50%;
}

.title-h1 {
    margin-bottom: 35px;
}

.titles {
    color: #fff;
    margin-bottom: 55px;
}

.links {
    margin-bottom: 55px;
}

.links > #link-logo {
    margin: 10px;
}

.password {
    margin: 20px 0px;
}

.entrar {
    margin-bottom: 28px;
}

.forgot-password a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(60, 60, 60, 0.9);
    text-decoration: none;
}

#link-logo {
    background-color: rgba(60, 60, 60, 0.01);
    box-shadow: -4px -4px 7px white, 0px 0px 7px black;;
    border-radius: 40px;
    padding: 21px 14px 9px 14px;
}

#input-style {
    background-color: rgba(60, 60, 60, 0.01);
    box-shadow: -4px -4px 7px white, 0px 0px 7px black;;
    font-size: 15px;
    border-style: none;
    border-radius: 20px;
    padding: 20px 20px;
    width: 30vw;
}

#button-submit {
    background-color: rgba(60, 60, 60, 0.01);
    box-shadow: -4px -4px 7px white, 0px 0px 7px black;;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    border-radius: 20px;
    padding: 20px 40px;
    color: #000;
}

#button-inscreva {
    background-color: rgb(0, 89, 255);
    box-shadow: -2px -2px 6px white, 1px 1px 7px black;;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
    padding: 20px 40px;
    color: #fff;
}

#forgot:hover {
    color: black;
}

#link-logo:hover {
    box-shadow: -0px -0px 7px black, 4px 4px 7px white;;
}

#input-style:hover {
    box-shadow: -0px -0px 5px black, 4px 4px 10px white;;
}

#button-submit:hover {
    box-shadow: -0px -0px 5px black, 4px 4px 10px white;;
}

#button-inscreva:hover {
    box-shadow: -1px -1px 7px black, 2px 2px 6px white;;
}